<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div th:include="layout/header :: #header"></div>-->
<h2>아이디 찾기</h2><br>

<form method="post" action="/bangbang/find-id">
    닉네임: <input type="text" name="nickname" placeholder="닉네임 입력"><br>
    전화번호: <input type="text" name="phone" placeholder="전화번호 입력"> <input type="button" value="전송"><br>
    <input type="text" name="phone2" placeholder="전화번호 확인">
    <button type="submit" >아이디 찾기</button>
</form>
<!--<div th:include="layout/footer :: #footer"></div>-->

</body>

</html>