<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방방곡곡 :: 로컬 카테고리</title>

</head>

<body>
<div id="#header-content">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- fontawesone -->
    <script src="https://kit.fontawesome.com/4c3f1790ae.js" crossorigin="anonymous"></script>
</div>



<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>


<div th:include="layout/header :: #header"></div>

    <div class="local_category content_box">
        <div class="local_menu">
            <ul>
                <li><p class="title">지역</p></li>
                <li class="accordion_item">
                    <div class="accordion_title">서울</div>
                    <ul class="accordion_content">
                        <li><a href="/board/location?district=%EC%A2%85%EB%A1%9C%EA%B5%AC">종로구</a></li>
                        <li><a href="/board/location?district=%EC%A4%91%EA%B5%AC">중구</a></li>
                        <li><a href="/board/location?district=%EC%9A%A9%EC%82%B0%EA%B5%AC">용산구</a></li>
                        <li><a href="/board/location?district=%EC%84%B1%EB%8F%99%EA%B5%AC">성동구</a></li>
                        <li><a href="/board/location?district=%EC%84%B1%EB%8F%99%EA%B5%AC">광진구</a></li>
                        <li><a href="/board/location?district=%EB%8F%99%EB%8C%80%EB%AC%B8%EA%B5%AC">동대문구</a></li>
                        <li><a href="/board/location?district=%EC%A4%91%EB%9E%91%EA%B5%AC">중랑구</a></li>
                        <li><a href="/board/location?district=%EC%84%B1%EB%B6%81%EA%B5%AC">성북구</a></li>
                        <li><a href="/board/location?district=%EA%B0%95%EB%B6%81%EA%B5%AC">강북구</a></li>
                        <li><a href="/board/location?district=%EB%8F%84%EB%B4%89%EA%B5%AC">도봉구</a></li>
                        <li><a href="/board/location?district=%EB%85%B8%EC%9B%90%EA%B5%AC">노원구</a></li>
                        <li><a href="/board/location?district=%EC%9D%80%ED%8F%89%EA%B5%AC">은평구</a></li>
                        <li><a href="/board/location?district=%EC%84%9C%EB%8C%80%EB%AC%B8%EA%B5%AC">서대문구</a></li>
                        <li><a href="/board/location?district=%EB%A7%88%ED%8F%AC%EA%B5%AC">마포구</a></li>
                        <li><a href="/board/location?district=%EC%96%91%EC%B2%9C%EA%B5%AC">양천구</a></li>
                        <li><a href="/board/location?district=%EA%B0%95%EC%84%9C%EA%B5%AC">강서구</a></li>
                        <li><a href="/board/location?district=%EA%B5%AC%EB%A1%9C%EA%B5%AC">구로구</a></li>
                        <li><a href="/board/location?district=%EA%B8%88%EC%B2%9C%EA%B5%AC">금천구</a></li>
                        <li><a href="/board/location?district=%EC%98%81%EB%93%B1%ED%8F%AC%EA%B5%AC">영등포구</a></li>
                        <li><a href="/board/location?district=%EB%8F%99%EC%9E%91%EA%B5%AC">동작구</a></li>
                        <li><a href="/board/location?district=%EA%B4%80%EC%95%85%EA%B5%AC">관악구</a></li>
                        <li><a href="/board/location?district=%EC%84%9C%EC%B4%88%EA%B5%AC">서초구</a></li>
                        <li><a href="/board/location?district=%EA%B0%95%EB%82%A8%EA%B5%AC">강남구</a></li>
                        <li><a href="/board/location?district=%EC%86%A1%ED%8C%8C%EA%B5%AC">송파구</a></li>
                        <li><a href="/board/location?district=%EA%B0%95%EB%8F%99%EA%B5%AC">강동구</a></li>
                    </ul>
                </li>
                <li class="accordion_item">
                    <div class="accordion_title">경기</div>
                    <ul class="accordion_content">
                        <li><a href="/board/location?district=%EC%88%98%EC%9B%90%EC%8B%9C">수원시</a></li>
                        <li><a href="/board/location?district=%EC%84%B1%EB%82%A8%EC%8B%9C">성남시</a></li>
                        <li><a href="/board/location?district=%EC%9D%98%EC%A0%95%EB%B6%80%EC%8B%9C">의정부시</a></li>
                        <li><a href="/board/location?district=%EC%95%88%EC%96%91%EC%8B%9C">안양시</a></li>
                        <li><a href="/board/location?district=%EB%B6%80%EC%B2%9C%EC%8B%9C">부천시</a></li>
                        <li><a href="/board/location?district=%EA%B4%91%EB%AA%85%EC%8B%9C">광명시</a></li>
                        <li><a href="/board/location?district=%ED%8F%89%ED%83%9D%EC%8B%9C">평택시</a></li>
                        <li><a href="/board/location?district=%EB%8F%99%EB%91%90%EC%B2%9C%EC%8B%9C">동두천시</a></li>
                        <li><a href="/board/location?district=%EC%95%88%EC%82%B0%EC%8B%9C">안산시</a></li>
                        <li><a href="/board/location?district=%EA%B3%A0%EC%96%91%EC%8B%9C">고양시</a></li>
                        <li><a href="/board/location?district=%EA%B3%BC%EC%B2%9C%EC%8B%9C">과천시</a></li>
                        <li><a href="/board/location?district=%EA%B5%AC%EB%A6%AC%EC%8B%9C">구리시</a></li>
                        <li><a href="/board/location?district=%EB%82%A8%EC%96%91%EC%A3%BC%EC%8B%9C">남양주시</a></li>
                        <li><a href="/board/location?district=%EC%98%A4%EC%82%B0%EC%8B%9C">오산시</a></li>
                        <li><a href="/board/location?district=%EC%8B%9C%ED%9D%A5%EC%8B%9C">시흥시</a></li>
                        <li><a href="/board/location?district=%EA%B5%B0%ED%8F%AC%EC%8B%9C">군포시</a></li>
                        <li><a href="/board/location?district=%EC%9D%98%EC%99%95%EC%8B%9C">의왕시</a></li>
                        <li><a href="/board/location?district=%ED%95%98%EB%82%A8%EC%8B%9C">하남시</a></li>
                        <li><a href="/board/location?district=%EC%9A%A9%EC%9D%B8%EC%8B%9C">용인시</a></li>
                        <li><a href="/board/location?district=%ED%8C%8C%EC%A3%BC%EC%8B%9C">파주시</a></li>
                        <li><a href="/board/location?district=%EC%9D%B4%EC%B2%9C%EC%8B%9C">이천시</a></li>
                        <li><a href="/board/location?district=%EC%95%88%EC%84%B1%EC%8B%9C">안성시</a></li>
                        <li><a href="/board/location?district=%EA%B9%80%ED%8F%AC%EC%8B%9C">김포시</a></li>
                        <li><a href="/board/location?district=%ED%99%94%EC%84%B1%EC%8B%9C">화성시</a></li>
                        <li><a href="/board/location?district=%EA%B4%91%EC%A3%BC%EC%8B%9C">광주시</a></li>
                        <li><a href="/board/location?district=%EC%96%91%EC%A3%BC%EC%8B%9C">양주시</a></li>
                        <li><a href="/board/location?district=%ED%8F%AC%EC%B2%9C%EC%8B%9C">포천시</a></li>
                        <li><a href="/board/location?district=%EC%97%AC%EC%A3%BC%EC%8B%9C">여주시</a></li>
                        <li><a href="/board/location?district=%EC%97%B0%EC%B2%9C%EA%B5%B0">연천군</a></li>
                        <li><a href="/board/location?district=%EA%B0%80%ED%8F%89%EA%B5%B0">가평군</a></li>
                        <li><a href="/board/location?district=%EC%96%91%ED%8F%89%EA%B5%B0">양평군</a></li>



                    </ul>
                </li>
                <li class="accordion_item">
                    <div class="accordion_title">인천</div>
                    <ul class="accordion_content">
                        <li><a href="/board/location?district=%EC%A4%91%EA%B5%AC">중구</a></li>
                        <li><a href="/board/location?district=%EB%8F%99%EA%B5%AC">동구</a></li>
                        <li><a href="/board/location?district=%EB%AF%B8%EC%B6%94%ED%99%80%EA%B5%AC">미추홀구</a></li>
                        <li><a href="/board/location?district=%EB%82%A8%EB%8F%99%EA%B5%AC">남동구</a></li>
                        <li><a href="/board/location?district=%EB%B6%80%ED%8F%89%EA%B5%AC">부평구</a></li>
                        <li><a href="/board/location?district=%EA%B3%84%EC%96%91%EA%B5%AC">계양구</a></li>
                        <li><a href="/board/location?district=%EC%84%9C%EA%B5%AC">서구</a></li>
                        <li><a href="/board/location?district=%EA%B0%95%ED%99%94%EA%B5%B0">강화군</a></li>
                        <li><a href="/board/location?district=%EC%98%B9%EC%A7%84%EA%B5%B0">옹진군</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="section">
            <div class="page_filter">
                <select class="filter_box" id="filter_box" onchange="selectBoxChange()" name="filter">
                    <option value="1" th:selected="${option == '1'}">최신순</option>
                    <option value="2" th:selected="${option == '2'}">조회순</option>
                    <option value="3" th:selected="${option == '3'}">좋아요순</option>
                </select>
            </div>
            <div class="page_list">
                <div class="page" th:each="a : ${list}" >
                    <div th:each="b : ${files}">
                        <div th:if="${a.id == b.articleId}">
                            <img th:src="@{|/fruitables-1.0.0/${b.storedFileName}|}" alt="음식점 안내 사진" th:style="'width: 291px; height: 300px;'">
                        </div >
                    </div>
                    <dl>
                        <a th:href="@{/board/detail/{id}(id=${a.id})}"><dt th:text="${a.title}"></dt></a>
                        <dd class="description">open 3p.m / close 11 p.m</dd><br>
<!--                        <dd class="rating">별별별별별 5.0(평가수)</dd>-->
                        <dd class="viewer shop_item">
                            <span class="shop_heart"><i class="fa fa-heart" aria-hidden="true"></i> <span th:text="${a.likes}" ></span></span>
                            <span class="shop_bMark"><i class="fa fa-eye" aria-hidden="true"></i> <span th:text="${a.view}"></span></span>
                        </dd>
                    </dl>
                </div>
            </div>

            <input type="hidden" id="searchKeyword" th:value="${searchKeyword}">


            <div class="page_swap">
                <div class="swap_button">
                    <ul><!-- 이전 링크 활성화 비활성화 -->
                        <li><a th:if="${!list.first}" th:href="@{/board/list(page = ${nowPage -2}, searchKeyword = ${param.searchKeyword}, option=${param.option})}">&#x3C;</a></li>
                        <li><a th:if="${list.first}" th:href="@{#}">&#x3C;</a></li>

                        <!-- 페이지 처리 -->
                        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                            <li><a th:if="${page != nowPage}" th:href="@{/board/list(page =  ${page - 1}, searchKeyword = ${param.searchKeyword}, option=${param.option})}" th:text="${page}"></a></li>
                            <li><a th:if="${page == nowPage}" th:text="${page}" class="act"></a></li>
                        </th:block>

                        <!-- 다음 링크 활성화 비활성화 -->
                        <li><a th:if="${!list.last}" th:href="@{/board/list(page = ${nowPage}, searchKeyword = ${param.searchKeyword}, option=${param.option})}">&#x3E;</a></li>
                        <li><a th:if="${list.last}" th:href="@{#}">&#x3E;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div th:include="layout/footer :: #footer"></div>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const accordionItems = document.querySelectorAll(".accordion_item");

        accordionItems.forEach(item => {
            const title = item.querySelector(".accordion_title");
            const content = item.querySelector(".accordion_content");

            title.addEventListener("click", function() {
                const isOpen = item.classList.toggle("open");
                content.style.maxHeight = isOpen ? content.scrollHeight + "px" : 0;

                // 스크롤바가 필요한 경우에만 스타일을 추가
                if (accordionItems.length >= 9) {
                    content.style.overflowY = "scroll";
                } else {
                    content.style.overflowY = "hidden";
                }

                if (isOpen) {
                    title.style.background = "#FFCD6D";
                    title.style.color = "#FFFFFF";
                    title.style.borderBottom = "0.5px solid rgba(0,0,0,0)";
                    title.style.borderRight = "0.5px solid rgba(0,0,0,0)";
                    title.style.borderLeft = "0.5px solid rgba(0,0,0,0)";
                    content.style.borderBottom = "0.5px solid rgba(69, 89, 91, 0.25)";
                    content.style.borderRight = "0.5px solid rgba(69, 89, 91, 0.25)";
                    content.style.borderLeft = "0.5px solid rgba(69, 89, 91, 0.25)";
                } else {
                    title.style.background = ""; // 원래 배경색으로 변경
                    title.style.color = "#000000"; // 원래 글자색으로 변경
                    title.style.borderBottom = "0.5px solid rgba(69, 89, 91, 0.25)";
                    title.style.borderRight = "0.5px solid rgba(69, 89, 91, 0.25)";
                    title.style.borderLeft = "0.5px solid rgba(69, 89, 91, 0.25)";
                    content.style.borderBottom = "";
                    content.style.borderRight = "";
                    content.style.borderLeft = "";
                }

                // Close other sections if open
                accordionItems.forEach(otherItem => {
                    if (otherItem !== item && otherItem.classList.contains("open")) {
                        otherItem.classList.remove("open");
                        otherItem.querySelector(".accordion_content").style.maxHeight = 0;
                        otherItem.querySelector(".accordion_title").style.background = "";
                        otherItem.querySelector(".accordion_title").style.color = "#000000";

                    }
                });
            });
        });
    });
</script>


<script>

    function selectBoxChange(){
        // option 값
        var project_title = document.querySelector('#filter_box');
        var select_project_title = project_title.value;
        var searchKeyword = document.querySelector("#searchKeyword").value;


        $.ajax({
            type: "get",
            url: "/board/list",
            data : {
                "searchKeyword" : searchKeyword,
                "option" : select_project_title} ,
            success: function(response) {
                console.log(select_project_title)

                var newContent = $(response).find('.page_list');
                $('.page_list').html(newContent);
                var newContent2 = $(response).find('.page_swap');
                $('.page_swap').html(newContent2);

            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });



    }


</script>



</body>

</html>