<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>방방곡곡 :: 로컬 카테고리</title>

</head>

<body>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>


<div th:include="layout/header :: #header"></div>

    <div class="local_category content_box">
        <div class="local_menu">
            <ul class="accordion">
                <li class="accordion-item"><p class="title">지역</p></li>
                <li><p class="button">서울</p></li>
                <li><p class="button">경기</p></li>
                <li><p class="button">인천</p></li>
                <li><p class="button">부산</p></li>
            </ul>
        </div>
        <div class="section">
            <div class="page_filter">
                <select class="filter_box" name="filter">
                    <option value="1">최신순</option>
                    <option value="2">조회순</option>
                    <option value="3">좋아요순</option>
                </select>
            </div>
            <div class="page_list">
                <div class="page" th:each="a : ${list}">
                    <img src="/img/store_photo.png" alt="음식점 안내 사진">
                    <dl>
                        <dt th:text="${a.title}"></dt>
                        <dd class="description">open 3p.m / close 11 p.m</dd>
                        <dd class="rating">별별별별별 5.0(평가수)</dd>
                    </dl>
                </div>
            </div>



            <div class="page_swap">
                <div class="swap_button">
                    <ul><!-- 이전 링크 활성화 비활성화 -->
                        <li><a th:if="${!list.first}" th:href="@{/board/list(page = ${nowPage -2}, searchKeyword = ${param.searchKeyword})}">&#x3C;</a></li>
                        <li><a th:if="${list.first}" th:href="@{#}">&#x3C;</a></li>

                        <!-- 페이지 처리 -->
                        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                            <li><a th:if="${page != nowPage}" th:href="@{/board/list(page =  ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a></li>
                            <li><a th:if="${page == nowPage}" th:text="${page}" class="act"></a></li>
                        </th:block>

                        <!-- 다음 링크 활성화 비활성화 -->
                        <li><a th:if="${!list.last}" th:href="@{/board/list(page = ${nowPage}, searchKeyword = ${param.searchKeyword})}">&#x3E;</a></li>
                        <li><a th:if="${list.last}" th:href="@{#}">&#x3E;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div th:include="layout/footer :: #footer"></div>



</body>

</html>