<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>방방곡곡 :: 식당 게시판 수정</title>


</head>

<body>

<div th:include="layout/header :: #header"></div>

<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->
<div class="restaurant_write">
    <div class="title"><h3 class="title">식당 게시판 수정하기</h3></div>
    <form method="post" id="myForm" th:action="@{/board/update/{id}/store(id=${article.id})}" onsubmit="return check()" enctype="multipart/form-data">
    <div class="info_input">
        <div class="right">
            <div class="write_item">
                <p>매장 이름</p>
                <input  name="title" th:value="${article.title}" class="size_1" type="text" placeholder="당신의 매장 이름을 입력하세요!">
            </div>
            <div class="write_item">
                <p>매장 소개</p>
                <input name="content" th:value="${article.content}" class="size_2" type="text" placeholder="당신의 매장을 소개해주세요!">
            </div>
            <div class="write_item">
                <p>대표자명</p>
                <input id="writer" name="writer" th:value="${article.writer}" class="size_1" type="text" placeholder="이름을 입력해주세요!">
            </div>
            <div class="write_item">
                <p>전화번호</p>
                <input name="phoneNumber" th:value="${article.phoneNumber}" class="size_1" type="text" placeholder="'-'를 제외하고 입력해주세요! (예시: 01012345678)">
            </div>
            <div class="write_item">
                <p>주소</p>
                <input name="address1" th:value="${article.address1}" class="size_1" type="text" placeholder="주소를 입력해주세요(ex 서울시, 경기도)">
                <input name="address2" th:value="${article.address2}" class="size_1" type="text" placeholder="주소를 입력해주세요!(ex 종로구, 성남시)">
                <input name="address3" th:value="${article.address3}" class="size_1" type="text" placeholder="나머지 상세주소를 입력해주세요.">
            </div>
            <div class="write_item">
                <p>영업 시간</p>
            </div>
            <div class="write_item width_sort">
                <p>시작 시간</p>
                <input name="startTime1" th:value="${startTime[0]}" class="text size_3 textbox_margin" type="text">
                <p>시</p>
                <input name="startTime2" th:value="${startTime[1]}" class="text size_3 textbox_margin" type="text">
                <p>분</p>
            </div>
            <hr>
            <div class="write_item width_sort">
                <p>종료 시간</p>
                <input name="endTime1" th:value="${endTime[0]}" class="text size_3 textbox_margin" type="text">
                <p>시</p>
                <input name="endTime2" th:value="${endTime[1]}" class="text size_3 textbox_margin" type="text">
                <p>분</p>
            </div>
            <div>
                <Button class="write_button" type="submit">수정하기</Button>
            </div>
        </div>
        <div class="left">
            <div class="logo_item" id="imgBox">
                <div class="logo_right">
                    <div id="imgTag" class="logo" src="" alt="사진"></div>
<!--                    <img id="imgTag"  class="logo" th:src="@{'/fruitables-1.0.0/' + ${imagefiles.get(0).storedFileName}}" th:style="'width: 141px; height: 141px;'" alt="사진"></img>-->
                </div>
                <div class="logo_left">
                    <p>매장 프로필(로고)</p>
                    <input id="file" type="file" name="file" accept=".jpg,.png,.jpeg" onchange="loadFile(this)">
                </div>
            </div>
            <div class="picture_item">
                <p>매장 사진</p>
                <div class="pictures">
                    <div id="picture1" class="upload_picture picture_1" src="" alt="사진"></div>
                    <div id="picture2" class="upload_picture picture_2" src="" alt="사진"></div>
                    <div id="picture3" class="upload_picture picture_3" src="" alt="사진"></div>
                    <div id="picture4" class="upload_picture picture_4" src="" alt="사진"></div>
                </div>
<!--                <button>이미지 업로드</button>-->
                <input type="file" name="multiFiles" id="multiFilesInput" multiple onchange="loadPictures(this)">
                <p id="fileCountInfo">선택된 파일 수: 0</p>
            </div>
        </div>
    </div>
    </form>

</div>

<div th:include="layout/footer :: #footer"></div>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<script>

    function check() {
        if (myForm.title.value.trim().length === 0) {
            alert("가게명을 입력해주세요.");
            myForm.title.focus();
            return false;
        }

        if (myForm.content.value.trim().length === 0) {
            alert("매장을 소개해 해주세요.");
            myForm.content.focus();
            return false;
        }

        if (myForm.writer.value.trim().length === 0) {
            alert("대표자명을 입력해주세요.");
            myForm.writer.focus();
            return false;
        }

        if (myForm.phoneNumber.value.trim().length === 0) {
            alert("전화번호를 입력해주세요.");
            myForm.phoneNumber.focus();
            return false;
        }

        if (myForm.phoneNumber.value.trim().length < 9 || myForm.phoneNumber.value.trim().length > 11 || isNaN(myForm.phoneNumber.value)) {
            alert("전화번호를 형식에 맞춰 입력해주세요.");
            myForm.phoneNumber.focus();
            return false;
        }

        if (myForm.address1.value.trim().length === 0) {
            alert("주소를 입력해주세요. ex) 서울시, 경기도, 인천");
            myForm.address1.focus();
            return false;
        }

        if (myForm.address2.value.trim().length === 0) {
            alert("주소를 입력해주세요. ex) 종로구, 용산구, 성남시");
            myForm.address2.focus();
            return false;
        }

        if (myForm.address3.value.trim().length === 0) {
            alert("주소를 입력해주세요. ex) 의사당대로 1");
            myForm.address3.focus();
            return false;
        }

        if (myForm.startTime1.value.trim().length === 0 || myForm.startTime2.value.trim().length === 0) {
            alert("영업 시작 시간을 입력해주세요.");
            myForm.startTime1.focus();
            return false;
        }

        if (isNaN(myForm.startTime1.value) || isNaN(myForm.startTime2.value)) {
            alert("영업 시작 시간을 제대로 입력해주세요.");
            myForm.startTime1.focus();
            return false;
        }

        if (myForm.endTime1.value.trim().length === 0 || myForm.endTime2.value.trim().length === 0) {
            alert("영업 종료 시간을 입력해주세요.");
            myForm.endTime1.focus();
            return false;
        }


        if (isNaN(myForm.endTime1.value) || isNaN(myForm.endTime2.value)) {
            alert("영업 종료 시간을 제대로 입력해주세요.");
            myForm.endTime1.focus();
            return false;
        }

        if($('#file').val() === "") {
            alert("대표 이미지는 필수입니다.");
            $("#file").focus();
            return false;
        }

    }



    // 파일 미리보기
    function loadFile(input) {
        var file = input.files[0];
        $('#imgTag').html(" <img src='"+URL.createObjectURL(file)+"' style='height:141px; width:141px;'/> ");
    }

    function loadPictures(input) {
        var files = input.files;

        // var file = files[0];
        // $('#picture1').html(" <img src='"+URL.createObjectURL(file)+"' style='height:141px; width:209px;'/> ");

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            $('#picture' + (i+1)).html(" <img src='"+URL.createObjectURL(file)+"' style='height:141px; width:209px;'/> ");
        }
    }

    // input 요소에 파일이 선택될 때 호출되는 함수
    function updateFileCount(event) {
        // 선택된 파일의 수를 계산
        var files = event.target.files;
        document.getElementById('fileCountInfo').textContent = '선택된 파일 수: ' + files.length;

        // 파일의 수가 4개를 초과하는 경우 경고 메시지 출력
        if (files.length > 4) {
            alert('최대 4개의 파일까지 선택할 수 있습니다.');
            document.getElementById('fileCountInfo').textContent = '선택된 파일 수: 0'
            for (let i = 1; i <= 4; i++) {
                $('#picture' + i).html('');
            }
            // 4개를 초과하는 파일을 제거
            event.target.value = null;
        }
    }

    // input 요소에 change 이벤트 리스너 등록
    document.getElementById('multiFilesInput').addEventListener('change', updateFileCount);



</script>

</body>

</html>