<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">

        function check(){
            /* 아이디 유효성 검사 */
            if(myform.person_id.value.length === 0){
                alert("아이디가 누락됐습니다.");
                myform.person_id.focus();
                return false;
            }

            if(myform.person_id.value.length <5 || myform.person_id.value.length > 12){
                alert("아이디는 5자 이상, 12자 이하로 입력 가능합니다.");
                myform.person_id.focus();
                return false;
            }

            // if(!(/^[a-zA-Z0-9]+$/.test(person_id))){
            //     alert("아이디는 영문, 숫자로만 입력 가능합니다.");
            //     myform.person_id.focus();
            //     return false;
            // }


            /* 비밀번호 및 비밀번호 확인 유효성 검사 */
            if(myform.passwd.value.length === 0 || myform.passwd2.value.length === 0){
                alert("비밀번호가 누락됐습니다.");
                myform.passwd.focus();
                return false;
            }

            if(myform.passwd.value !== myform.passwd2.value){
                alert("비밀번호를 재확인하세요.");
                myform.passwd2.select(); //이걸로 하면 focus 이동하면서 입력한게 블록으로 선택됨
                return false;
            }

            // if(!(/^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/.test(passwd))){
            //     alert("비밀번호는 영문,숫자,특수문자 포함 8자이상 입력해야 합니다.");
            //     myform.passwd.select(); //이걸로 하면 focus 이동하면서 입력한게 블록으로 선택됨
            //     return false;
            // }


            /* 닉네임 유효성 검사 */
            if(myform.user_name.value.length === 0){
                alert("닉네임이 누락됐습니다.");
                myform.user_name.focus();
                return false;
            }

            if(myform.user_name.value.length < 2 || myform.user_name.value.length > 10){
                alert("닉네임은 2자 이상, 10자 이하로 입력이 가능합니다. ");
                myform.user_name.focus();
                return false;
            }


            /* 나이 유효성 검사 */
            if(myform.old.value.length === 0) {
                alert("나이가 누락됐습니다");
                myform.old.focus();
                return false
            }

            if(isNaN(myform.old.value)){
                alert("나이는 숫자만 입력가능합니다.");
                myform.old.focus();
                return false;
            }


            /* 전화번호 유효성 검사 */
            if(myform.phone_num.value.length === 0){
                alert("전화번호가 누락됐습니다.");
                myform.phone_num.focus();
                return false;
            }


            if(isNaN(myform.phone_num.value)){
                alert("전화번호는 숫자만 입력가능합니다.");
                myform.phone_num.focus();
                return false;
            }


        }
    </script>
</head>
<body>
회원가입<br><br>

<form action="/bangbang/auth/sign-in" method="post" name="myform">
    아이디: <input type="text" name="person_id" id="user-id"><br>
    비밀번호: <input type="password" name="passwd" id="user-passwd"><br>
    비밀번호 확인: <input type="password" name="passwd2"><br>
    닉네임: <input type="text" name="user_name" id="user-name"><br>
    나이: <input type="text" name="old" id="user-old"><br>
    전화번호: <input type="text" name="phone_num" id="user-phone"><br>
    <button type="button" id="join-btn" onClick="check()">회원가입</button>
</form>
<a href="/bangbang/auth/sign-up">로그인 하기</a>

<script>

    //댓글 생성 버튼 변수화
    const commentCreateBtn = document.querySelector("#join-btn");

    //버튼 클릭 이벤트 감지
    commentCreateBtn.addEventListener("click",function (event) {

        // return false를 받았을때 기보 동작 막기
        event.preventDefault();

        // check 함수 호출하여 반환값 받음
        const validationResult = check();

        // 반환값에 따라 동작 분기
        if (validationResult === false) {

        } else {
            //새 댓글 객체 생성
            const user = {
                person_id: document.querySelector("#user-id").value,
                passwd: document.querySelector("#user-passwd").value,
                user_name: document.querySelector("#user-name").value,
                old: document.querySelector("#user-old").value,
                phone_num: document.querySelector("#user-phone").value
            };

            console.log(user);

            // fetch() - Talend API 요청을 JavaScript로 보내준다!
            const url = "/bangbang/auth/sign-in";
            fetch(url, {
                method: "post",                 // post 요청
                body: JSON.stringify(user),  //comment JS 객체를 JSON으로 변경하여 보냄
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {       //respones가 응답이 온다면 다음과 같이 하자
                // http 응답 코드에 따른 메세지 출력
                const msg = (response.ok) ? "회원가입이 되었습니다" : "회원가입 실패"
                alert(msg);
                //현재 페이지 새로 고침
                window.location.href = "/bangbang/auth/sign-up";
            })
        }

    })


</script>

</body>
</html>