<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
회원가입<br><br>

<form action="/bangbang/auth/sign-in" method="post" name="myform">
    아이디: <input type="text" name="person_id" id="user-id" value="11111"><br>
    비밀번호: <input type="password" name="passwd" id="user-passwd" value="123456!a"><br>
    비밀번호 확인: <input type="password" name="passwd2" value="123456!a"><br>
    닉네임: <input type="text" name="user_name" id="user-name" value="11"><br>
    나이: <input type="text" name="old" id="user-old" value="11"><br>
    전화번호: <input type="text" name="phone_num" id="user-phone" value="01011112222"><br>
    <button type="button" id="join-btn">회원가입</button>
</form>
<a href="/bangbang/auth/sign-up">로그인 하기</a>

<script type="text/javascript" src="/js/signUp.js"></script>


</body>
</html>