<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>방방곡곡</title>


</head>

<body>

<div th:include="layout/header :: #header"></div>

<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

        <!-- Contact Start -->
        <div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="p-5 bg-light rounded">
                    <div class="row g-4">
                        <div class="shop">
                            <img src="https://via.placeholder.com/140" alt="샘플이미지">
                            <h3 id="shop_name">식당 이름</h3>
                            <p id="shop_explan">간단 설명</p>
                            <div class="viewer">
                                <span id="shop_view"><i class="fa fa-bookmark" aria-hidden="true"></i> 1698146</span></spap>
                                <span id="shop_heart"><i class="fa fa-heart" aria-hidden="true"></i> 1698146</span></span>
                                <span id="shop_bMark"><i class="fa fa-eye" aria-hidden="true"></i> 11469841</span>
                            </div>
                            <div class="region_view">
                                <p class="region_b">
                                    서울 - 강남구 &gt;
                                    <span class="region_s">논현</span>
                                </p>
                            </div>
                            <div class="shop_img">
                                <img id="shop_img_1" src="https://via.placeholder.com/180x120" alt="상세이미지1">
                                <img id="shop_img_2" src="https://via.placeholder.com/180x120" alt="상세이미지2">
                                <img id="shop_img_3" src="https://via.placeholder.com/180x120" alt="상세이미지3">
                                <img id="shop_img_4" src="https://via.placeholder.com/180x120" alt="상세이미지4">
                            </div>
                        </div>
                        <div class="item_wrap">
                            <div class="item write"><i class="fa fa-pencil" aria-hidden="true"></i> 글쓰기</div>
                            <div class="item bmark"><i class="fa fa-eye" aria-hidden="true"></i> 즐겨찾기</div>
                            <div class="item heart"><i class="fa fa-heart" aria-hidden="true"></i> 좋아요</div>
                            <div class="item share"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유</div>
                        </div>
                        <div class="col-lg-12">
                            <div class="h-100 rounded">
                                <iframe class="rounded w-100"
                                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd"
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>

                        <div class="shop_intro_wrap">
                            <h3 class="shopName">식당 이름</h3>
                            <div class="shop_intro">
                                <p>매장 소개</p>
                                <p class="shop_intro_item">가게설명을 쓰시오오</p>
                            </div>
                        </div>

                        <div class="row review_wrap">
                            <h3 class="reviewT">리뷰</h3>
                            <button type="submit" class="btn_review"><i class="fa fa-pencil" aria-hidden="true"></i> 리뷰작성</button>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">사용자 1 &gt;</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">사용자 2 &gt;</h5>
                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shop_ifm_wrap">
                            <p class="ifmT"><i class="fa fa-clock" aria-hidden="true"></i>영업시간 <span id="ifmTime"> 00:00 ~ 00:00 </span> </p>
                            <p class="ifmT"><i class="fa fa-map-marker" aria-hidden="true"></i>주소 <span id="ifmMarker"> 경기도 00시 00동</span></p>
                            <p class="ifmT"><i class="fa fa-phone" aria-hidden="true"></i>전화 <span id="ifmTel"> 02-000-0000 </span></p>
                        </div>
                        <button type="submit" class="btn_rsv">예약하기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

<div th:include="layout/footer :: #footer"></div>
</body>

</html>