<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>방방곡곡</title>


</head>

<body>

<div th:include="layout/header :: #header"></div>

<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Contact Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="shop">
                    <div class="shop_Title">
                        <img src="https://via.placeholder.com/140" alt="샘플이미지">
                        <div class="shop_detail_">
                            <h3 class="shop_name shop_item">식당 이름</h3>
                            <p class="shop_explan shop_item">간단 설명</p>
                            <div class="viewer shop_item">
                                <span class="shop_view"><i class="fa fa-bookmark" aria-hidden="true"></i> 1698146</span>
                                <span class="shop_heart"><i class="fa fa-heart" aria-hidden="true"></i> 1698146</span>
                                <span class="shop_bMark"><i class="fa fa-eye" aria-hidden="true"></i> 11469841</span>
                            </div>
                            <div class="region_view">
                                <p class="region_b">
                                    서울 - 강남구 &gt;
                                    <span class="region_s">논현</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="shop_img">
                        <img class="shop_img_1" src="https://via.placeholder.com/180x120" alt="상세이미지1">
                        <img class="shop_img_2" src="https://via.placeholder.com/180x120" alt="상세이미지2">
                        <img class="shop_img_3" src="https://via.placeholder.com/180x120" alt="상세이미지3">
                        <img class="shop_img_4" src="https://via.placeholder.com/180x120" alt="상세이미지4">
                    </div>
                </div>
                <div class="item_wrap">
                    <div class="item write"><i class="fa fa-pencil" aria-hidden="true"></i> 글쓰기</div>
                    <div class="item bmark"><i class="fa fa-eye" aria-hidden="true"></i> 즐겨찾기</div>
                    <div class="item heart"><i class="fa fa-heart" aria-hidden="true"></i> 좋아요</div>
                    <div class="item share"><i class="fa fa-share-alt" aria-hidden="true"></i> 공유</div>
                </div>
                <div class="col-lg-12">
                    <div class="h-100 rounded">
                        <iframe class="rounded w-100" style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="shop_container">
                    <div class="shop_header">
                        <div class="shop_section_title">
                            <h3 class="shopName shop2">식당 이름</h3>
                            <h3 class="shopName review2">리뷰</h3>
                            <button class="reviewT"><i class="fa fa-pencil" aria-hidden="true"></i> 리뷰작성</button>
                        </div>
                    </div>
                    <div class="shop_content">
                        <div class="left_section">
                            <div class="shop_intro_item">
                                <h2>매장 소개</h2>
                                <p>가게설명을 쓰시오오</p>
                            </div>
                            <div class="shop_info_detail">
                                <table class="info_table">
                                    <tr class="detail_item">
                                        <td class="detail_item_T"><i class="fa fa-clock" aria-hidden="true"></i> 영업시간</td>
                                        <td class="item_in">00:00 - 00:00</td>
                                    </tr>
                                    <tr class="detail_item">
                                        <td class="detail_item_T"><i class="fa fa-map-marker" aria-hidden="true"></i> 주소</td>
                                        <td class="item_in">경기도 안양시</td>
                                    </tr>
                                    <tr class="detail_item">
                                        <td class="detail_item_T"><i class="fa fa-phone" aria-hidden="true"></i> 전화</td>
                                        <td class="item_in">02-123-1234</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="right_section">
                            <div class="right_section_content">
                                <div class="review">
                                    <h3>사용자 1 &gt;</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod te incididuntLorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                </div>
                                <div class="review">
                                    <h3>사용자 2 &gt;</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod te incididuntLorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                </div>
                                <div class="more_reviews">
                                    <button>더보기 &gt;</button>
                                </div>
                            </div>
                            <div class="btn_rsv_wrap">
                                <button type="submit" class="btn_rsv">예약하기</button>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">상세 이미지</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://via.placeholder.com/180x120" class="d-block w-100" alt="상세이미지1">
                        </div>
                        <div class="carousel-item">
                            <img src="https://via.placeholder.com/180x120" class="d-block w-100" alt="상세이미지2">
                        </div>
                        <div class="carousel-item">
                            <img src="https://via.placeholder.com/180x120" class="d-block w-100" alt="상세이미지3">
                        </div>
                        <div class="carousel-item">
                            <img src="https://via.placeholder.com/180x120" class="d-block w-100" alt="상세이미지4">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript to handle image click and show modal
    document.addEventListener('DOMContentLoaded', function () {
        const shopImages = document.querySelectorAll('.shop_img img');
        const modal = new bootstrap.Modal(document.getElementById('imageModal'));

        shopImages.forEach((img, index) => {
            img.addEventListener('click', () => {
                const carousel = document.querySelector('#carouselExampleIndicators');
                const bsCarousel = new bootstrap.Carousel(carousel);
                bsCarousel.to(index);
                modal.show();
            });
        });
    });
</script>

<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

<div th:include="layout/footer :: #footer"></div>
</body>

</html>